.header{
    position: absolute;
    width: 1440px;
    height: 84px;
    left: 0px;
    top: 0px;
}
.logoLightTheme{
    position: absolute;
    width: 146px;
    height: 24px;
    left: 100px;
    top: 30px;
}