.rejectReg{
    position: absolute;
    width: 210px;
    height: 21px;
    left: 1130px;
    top: 31px;
}
.activeLinkBig{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: right;
}
.active{
    color: #3F71E6;
}

