<div fxLayout>
  <div fxFlex="1 1 auto" fxLayout="column" class="panel">
    <div class="panel-header" fxFlex="0 0 55px">
      <span class="title">
        My Profile
      </span>
      <span class="title">
        Login
      </span>
      <span class="title">
        {{userModel.Email}}
      </span>
    </div>
    <div fxFlex="1 1 auto" fxFill class="panel-body">
      <span #top></span>
      <div class="body-content" fxLayout="column">
        <div fxFlex="1 1 100%" fxFill fxLayout fxLayoutAlign="center">
          <div *ngIf="userModel && userModel.Email != null || true" fxFlex.xs="1 1 100%" fxFlex.gt-xs="1 1 550px">

            <div class="panel flat">
              <div class="panel-header">
                <span class="title" translate>PERSONAL_INFORMATION</span>
                <span *ngIf="!isRead" class="right">
                  <span class="legend" translate>REQUIRED_FIELDS</span>
                </span>
              </div>
              <div class="panel-body">
                <form [ngClass]="{'read': isRead, 'edit': isEdit, 'submitted': submitted}" #profileForm="ngForm">

                  <ng-template #emailDisplayTemplate>
                    <span class="primary-user-email">
                      <span>{{userModel.email}}</span>
                      <span *ngIf="userModel.isPrimary">
                        <span class="column-extra-value" translate>PRIMARY</span>
                        <context-help [descriptionKey]="primaryUserHelpKey" [icon]="'ci ci-info-active'"></context-help>
                      </span>
                    </span>
                  </ng-template>
                  <form-group [label]="'EMAIL_ADDRESS' | translate" [active]="!isRead"
                    [customDisplayTemplate]="emailDisplayTemplate">
                    <input type="text" [ngModel]="userModel.email" name="email" required disabled type="email"
                      pInputText>
                  </form-group>

                  <form-group [label]="'FIRST_NAME' | translate" [value]="userModel.firstName" [active]="!isRead">
                    <input type="text" [(ngModel)]="userModel.firstName" name="firstName" required [minlength]="2"
                      [maxlength]="1024" pInputText>
                  </form-group>

                  <form-group [label]="'LAST_NAME' | translate" [value]="userModel.lastName" [active]="!isRead">
                    <input type="text" [(ngModel)]="userModel.lastName" name="lastName" required [minlength]="2"
                      [maxlength]="1024" pInputText>
                  </form-group>

                  <form-group [label]="'MOBILE_NUMBER' | translate"
                    [value]="userModel.phoneNumber ? ('+ ' + userModel.phoneNumber) : ''" [active]="!isRead">
                    <input type="text" [(ngModel)]="userModel.phoneNumber" name="phoneNumber" [pattern]="patterns.PHONE"
                      [maxlength]="100" [minlength]="5" pInputText prefix="+ " prefixPadding="21px">
                  </form-group>

                  <form-group [label]="'COMPANY_NAME' | translate" [value]="userModel.company.text" [active]="!isRead">
                    <input type="text" [(ngModel)]="userModel.company.text" name="companyName" readonly disabled
                      pInputText>
                  </form-group>

                  <div class="form-group" *ngIf="userModel && userModel.company && userModel.company.status">
                    <label translate>
                      COMPANY_STATUS
                    </label>
                    <div class="readonly-status">
                      <span class="status-badge" [ngClass]="userStatuses[userModel.company.status].class">
                        {{userStatuses[userModel.company.status].nameKey | translate}}
                      </span>
                    </div>
                  </div>


                </form>
              </div>
              <!-- <div class="panel-footer"
                               *ngIf="isActiveUser">
                              <div class="actions">
                                  <div class="right">
                                      <button pButton
                                              *ngIf="isRead"
                                              label="Edit"
                                              class="primary"
                                              type="button"
                                              (click)="toEditMode()"></button>
                                      <button pButton
                                              *ngIf="isEdit"
                                              class="link"
                                              label="Cancel"
                                              type="button"
                                              (click)="toReadMode()"></button>
                                      <button pButton
                                              *ngIf="!isRead"
                                              label="Save Changes"
                                              class="primary"
                                              type="submit"
                                              (click)="saveChanges(profileForm.form); top.scrollIntoView();"></button>
                                  </div>
                              </div>
                          </div> -->
            </div>

            <!-- <edit-password *ngIf="isActiveUser"
                                     (passwordChange)="fetchPassword()"
                                     [passwordUpdated]="passwordLastUpdate"></edit-password> -->
          </div>
        </div>
      </div>
    </div>

    <p-button label="Go to main page" (onClick)="onMainPage()" icon="pi pi-angle-left"></p-button>

  </div>
</div>
