<main>
  <div class="mainPageHeader">
    <div class="headerContainer">
      <nav class="headerLinks">
        <a class="headerLink">О проекте</a>
        <a class="headerLink">Обо мне</a>
        <a class="headerLink">Курсы</a>
        <a class="headerLink">Подкасты</a>
        <a class="headerLink">Отзывы</a>
        <a class="headerLink" style="margin-right: 0">Контакты</a>
      </nav>
      <button class="headerButton" routerLink="/account/login">Login</button>
      <p-button label="Go to user Profile" (onClick)="toUserProfile()" icon="pi pi-angle-left"></p-button>
    </div>
  </div>

  <div class="yourPlaceOfPowerText">
    Твоё место силы
  </div>
  <div class="videoContainer">
    <div class="video"></div>
  </div>

  <div class="firstOnlinePlatform">Первая онлайн платформа для обучения пианистов</div>

  <div class="bigGreenDiv">
    <div class="firstContent">
      <div class="firstContentText">
        <h1>Рост с ментором с нуля</h1>
        <p>Вы получите краткие и понятные задания под экологичным руководством ментора, который пошагово выстроит
          процесс занятий, с учётом оптимального времени для достижения цели, начиная с любого уровня исполнения, даже
          для новичков.</p>
      </div>
    </div>
  </div>
</main>